body {
	background-color: #777;
	color: #777;
	text-align: center;
	margin: 0;
	padding: 25px;
}

.container {
	width: 1024px;
	background-color: #777;
}

.main {
	width : 960px;
	padding: 20px;
	padding-left:-25px;
	margin: 5px; 
	color: #777;
	background: #ebebeb;
}

#section {
	width :495px;
	padding: 20px;
	margin: 5px;
	float: left;
	color: #777;
	background: #ebebeb;
}

#article {
	width : 95%;
	padding: 10px;
	color: #ebebeb;
	background: #777;
}

#h {
	width : 440px;
	padding: 10px;
	margin: 5px;
	color: #777;
	background: #ebebeb;

}

#p {
	width : 440px;
	padding: 10px;
	margin: 5px;
	color: #777;
	background: #ebebeb;

}


#aside {
	width : 415px;
	height: 147px;
	padding: 20px;
	margin: 5px;
	float: left;
	padding: 20px;
	color: #777;
	background: #ebebeb;
}

footer {
	clear:both;
}




