img {
	width: 30%;
	float: left;
	margin: 1.66%;
}

p {
	font-family: Raleway;
	margin-left: 1.66%;
	font-size: 23px;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 1px solid #f1f1f1;
	width: 30%;
	padding-bottom: 10px;
}

body {
	margin: 0px;
	padding: 0px;
	background-image: white;
}

